<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <script type="text/javascript" src="jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="stowaway.js"></script>
</head>
<body>
<!--/*@thymesVar id="name" type="java.lang.String"*/-->
<p>Hello, stowaway.</p>
<table>
    <thead>
    <tr>
        <th>
            input
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>
        <textarea id="text">

        </textarea>
    </td>
    </tr>
    <tr>
        <td>
            <button type="button" onclick="stowaway();">OK</button>
        </td>
    </tr>
    </tbody>

</table>

</body>

</html>